*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #2A5D5A;
}

h1 {
    background-color: #311313;
    text-align: center;
    color: white;
    margin: 25px 500px;
    padding: 15px;
}

.container {
    background-color: black;
    border: 8px solid #FF0606;
    margin: auto;
    width: 50%;
    height: 500px;
}

.div1 {
    background-color: #1FE8B7;
    color: black;
    text-align: left;
    width: 700px;
    margin: 32px 10px;
    height: 150px;
    padding: 20px;
    font-size: 20px;
}

.div2 {
    color: black;
    text-align: center;
    background-color: #1FE8B7;
    text-align: left;
    width: 700px;
    margin: auto;
    height: 150px;
    padding: 20px;
    font-size: 20px;

}